/* -------------------------------------------------- */

/* Menu highlighting */

#m1 .m1 {color: #0000FF; font-weight: 700;} /* FCC Home Page */
#m2 .m2 {color: #0000FF; font-weight: 700;} /* x */
#m3 .m3 {color: #0000FF; font-weight: 700;} /* Pinxton Branch */
#m4 .m4 {color: #0000FF; font-weight: 700;} /* Facts and Figures */
#m5 .m5 {color: #0000FF; font-weight: 700;} /* Diary */
#m6 .m6 {color: #0000FF; font-weight: 700;} /* Work Party dates */
#m7 .m7 {color: #0000FF; font-weight: 700;} /* Work Party photos */
#m8 .m8 {color: #0000FF; font-weight: 700;} /* Smotherfly */
#m9 .m9 {color: #0000FF; font-weight: 700;} /* Ironville Locks */
#m10 .m10 {color: #0000FF; font-weight: 700;} /* Photo Gallery */

#m11 .m11 {color: #0000FF; font-weight: 700;} /* History */
#m12 .m12 {color: #0000FF; font-weight: 700;} /* x */
#m13 .m13 {color: #0000FF; font-weight: 700;} /* Simon Stoker Archive */
#m14 .m14 {color: #0000FF; font-weight: 700;} /* x */
#m15 .m15 {color: #0000FF; font-weight: 700;} /* Sales */
#m16 .m16 {color: #0000FF; font-weight: 700;} /* x */
#m17 .m17 {color: #0000FF; font-weight: 700;} /* Membership */
#m18 .m18 {color: #0000FF; font-weight: 700;} /* Links */
#m19 .m19 {color: #0000FF; font-weight: 700;} /* Contacts */
#m20 .m20 {color: #0000FF; font-weight: 700;} /* Photo Archive */

#m21 .m21 {color: #0000FF; font-weight: 700;} /* Press Releases */
#m22 .m22 {color: #0000FF; font-weight: 700;} /* Butterley tunnel */
#m23 .m23 {color: #0000FF; font-weight: 700;} /* Western Section Google maps */
#m24 .m24 {color: #0000FF; font-weight: 700;} /* Central Section Google maps */
#m25 .m25 {color: #0000FF; font-weight: 700;} /* Eastern Section Google maps */
#m26 .m26 {color: #0000FF; font-weight: 700;} /* Pinxton Section Google maps */
#m27 .m27 {color: #0000FF; font-weight: 700;} /* Invasive Species */
#m28 .m28 {color: #0000FF; font-weight: 700;} /* x */
#m29 .m29 {color: #0000FF; font-weight: 700;} /* x */
#m30 .m30 {color: #0000FF; font-weight: 700;} /* x */

#m31 .m31 {color: #0000FF; font-weight: 700;} /* x */
#m32 .m32 {color: #0000FF; font-weight: 700;} /* x */
#m33 .m33 {color: #0000FF; font-weight: 700;} /* x */
#m34 .m34 {color: #0000FF; font-weight: 700;} /* x */
#m35 .m35 {color: #0000FF; font-weight: 700;} /* x */
#m36 .m36 {color: #0000FF; font-weight: 700;} /* x */
#m37 .m37 {color: #0000FF; font-weight: 700;} /* x */
#m38 .m38 {color: #0000FF; font-weight: 700;} /* x */
#m39 .m39 {color: #0000FF; font-weight: 700;} /* x */
#m40 .m40 {color: #0000FF; font-weight: 700;} /* x */

#m41 .m41 {color: #0000FF; font-weight: 700;} /* x */
#m42 .m42 {color: #0000FF; font-weight: 700;} /* x */
#m43 .m43 {color: #0000FF; font-weight: 700;} /* x */
#m44 .m44 {color: #0000FF; font-weight: 700;} /* x */
#m45 .m45 {color: #0000FF; font-weight: 700;} /* x */
#m46 .m46 {color: #0000FF; font-weight: 700;} /* x */
#m47 .m47 {color: #0000FF; font-weight: 700;} /* x */
#m48 .m48 {color: #0000FF; font-weight: 700;} /* x */
#m49 .m49 {color: #0000FF; font-weight: 700;} /* x */
#m50 .m50 {color: #0000FF; font-weight: 700;} /* x */

#m51 .m51 {color: #0000FF; font-weight: 700;} /* x */
#m52 .m52 {color: #0000FF; font-weight: 700;} /* x */
#m53 .m53 {color: #0000FF; font-weight: 700;} /* x */
#m54 .m54 {color: #0000FF; font-weight: 700;} /* x */
#m55 .m55 {color: #0000FF; font-weight: 700;} /* x */
#m56 .m56 {color: #0000FF; font-weight: 700;} /* x */
#m57 .m57 {color: #0000FF; font-weight: 700;} /* x */
#m58 .m58 {color: #0000FF; font-weight: 700;} /* x */
#m59 .m59 {color: #0000FF; font-weight: 700;} /* x */
#m60 .m60 {color: #0000FF; font-weight: 700;} /* x */
